@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: url("/static/img/background.jpg");
    background-size: cover;
    background-position: center;

}

.root-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.root-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.root-header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgb(0, 110, 255), transparent);
    transition: 0.5s;
}

.root-header:hover::after {
    left: 100%;
}

.logo {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;

}

#nav a{
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

@media (max-width: 992px) {
    .root-header {
        padding: 1.3rem 5%;

    }
    
}

@media (max-width: 768px) {
    .root-header {
        background: rgba(0, 0, 0, 0.3);
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    #check:checked~#nav {
        height: 17.7rem;
    }

    .icons {
        display: block;
    }

    .icons #close-icon {
        display: none;
    }

    #nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(50px);
        box-shadow: 0.5rem 1 rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: 0.3s ease;
    }

    #nav a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        transition: 0.3s ease;
        opacity: 0;
    }

    #check:checked~#nav a {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(0.15s * var(--i));
    }
}
